{% extends "base.html" %}

{% block titulo %}
    <title>Blog de músicos</title>
{% endblock titulo %}

{% block contenido %}
    <style>

        h3, a, th, td {
            color: white;
        }

        table {
            border: 1px solid white;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        a {
            text-decoration: none;
        }
    </style>

    <h3>Musicos</h3>
    <a href="{% url 'crear_musico' %}">Crear músico</a>
    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Instrumento</th>
                <th></th>
                <th></th>
            </tr>
            {% for musico in object_list %}
                <tr>
                    <td>{{ musico.id }}</td>
                    <td>{{ musico.nombre }}</td>
                    <td>{{ musico.instrumento }}</td>
                    <td><a href="">Ver</a></td>
                    <td><a href="">Editar</a></td>
                    <td><form action="{% url 'eliminar_musico' Musicos.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="eliminar"/>
                      </form>
               </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}